<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/generic">Generic</a></li>
					<li><a href="/elements">Elements</a></li>
					<li><a href="/rest">REST</a></li>
					<li><a href="/esp32">ESP32</a></li>
					<li><a href="/consulta">Consulta</a></li>
				</ul>
</nav>